/*내부 스타일 */
        h1{
            color:rgb(255, 75, 165); 
        }
        h2{
            color:rgb(0, 81, 255);
        }
        p{ 
            color:rgba(0, 0, 0, 0.959);
            font-family: "맑은고딕체";
            line-height: 1.7; /*2는 글자크기의 2배이다.*/
        }
        